.container {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: row;
  margin: 1% 5% 1% 5%;
}
.cardText {
  display: flex;
  flex-direction: column;
}
.episodes {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 45%;
  margin-top: 3%;
  margin-bottom: 3%;
  gap: 7px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7px;
  margin-left: 3%;
}
.pageText {
  margin-left: 5px;
  margin-right: 5px;
}
.button {
  background-color: rgb(178, 241, 241);
  padding: 3px 5px;
  border-radius: 5px;
  color: rgb(69, 72, 75);
}
.button:hover {
  color: rgb(71, 3, 20);
  background-color: greenyellow;
}
